@media (max-width: 720px) {

  body{
    overflow-x: hidden;
  }

  .menu-button {
    display: flex;
    flex-direction: column;
    gap: 4px;

    cursor: pointer;
    z-index: 10;
  }

  .line {
    border: 1px solid #5f5f6a;
    width: 20px;

    transition: all 0.2s;
  }

  .line.flip-left {
    transform: rotate(45deg);
    position: relative;
    bottom: 6px;
  }

  .line.flip-right {
    transform: rotate(-45deg);
  }

  .line.hide{
    opacity: 0;
  }

  .menu-button:hover .line{
    border-color: #fff;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    
    position: absolute;

   
    transform: translateX(999px);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;

    background: #121214;

    transition: all 0.3s;
  }

  .links.show{
    transform: translateX(0);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }
}